* {
  font-family: 'Inter', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

.dash-wrap {
  margin-top: 70px;
  /* background-color: #F6F6F6; */
  background-image: linear-gradient(#F6F6F6, #F6F6F6);
  background-size: cover;
  height: max-content;
}
.sidebar--wrap {
  background-color: #363740;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 18vw ;
}
.sidebar--item {
  cursor: pointer
}
.sidebar--item--active {
  cursor: pointer;
  background-color: #F6F6F6;
}
.sidebar--item:hover {
  background-color: #F6F6F6;
}
.sidebar--greet {
  border-bottom: 1px solid #fff;
}
.main--wrap {
  margin-left: 18vw;
}
.info-wrap {
  border-bottom: 1px solid #E5E5E5;
}
.logout-link {
  display: none;
}
.my-courses-wrap {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.bottom-navigate {
  display: none;
  
}
.bottom-nav {
  padding: 8px 12px;
}
.bottom-text {
  font-size: 0.9rem;
  color: #A4A6B3;
}
.bottom-icon{
  margin-right: 16px;
}
.all-courses {
  display: flex;
  justify-content: space-between;
}
.addchild-btn {
  background-color: #2342C0;
  color: #fff;
  border-radius: 20px;
  padding: 8px 32px;
  text-decoration: none !important;

}
.addchild-btn:hover {
  color: #2342C0;
  animation-name: fade-bgbtn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border: 1px solid #2342C0;
}
.admin-message-bubble {
  background-color: #2342C0;
  width: fit-content;
  padding: 25px 20px;
  margin: 20px 0;
  border-radius: 10px 10px 10px 0;
  margin-right: auto;
}
.user-message-bubble {
  background-color: #403D58;
  width: fit-content;
  padding: 25px 20px;
  margin: 20px 0;
  border-radius: 10px 10px 0px 10px;
  margin-left: auto;
}
.messaging-area {
  margin-left: 18vw !important;
}
.message-input {
  border: none;
  border-radius: 4px;
}
input.message-input:focus {
  box-shadow: transparent !important;
  border: transparent !important;
}
@media (max-width: 991px) {
  .all-courses {
    padding-bottom: 70px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
  }
  .sidebar--wrap {
    width: 24vw;
  }
  .main--wrap {
    margin-left: 24vw;
  }
  .messaging-area {
    margin-left: 24vw !important;
  }
}
@media (max-width: 768px) {
  .sidebar--wrap {
    display: none;
  }
  .main--wrap {
    margin: 0;
  }
  .info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logout-link {
    display: block;
  }
  .my-courses-wrap {
    grid-template-columns: 80vw;
  }
  .bottom-navigate {
    display: block !important;
    filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
  }
  .bottom-icon{
    margin: 0 !important;
  }
  .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0 !important;
  }
  .bottom-text {
    color: #363740 !important;
  }
  .all-courses {
    padding-bottom: 70px;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
  .messaging-area {
    margin: 0 0 55px 0 !important;

  }
}
@media (max-width: 576px) {
  .my-courses-wrap {
    grid-template-columns: 90vw;
  }
}
@media (max-width: 425px) {
  .all-courses {
    grid-template-columns: 1fr;
  }
}
